@font-face {
    font-family: HeaderFont;
    src:'https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'
}

@font-face {
    font-family: FontforP;
    src: url(./fonts/roboto.ttf);
}
body {
    background-color:#477977;
    
}

h1 { 
    font-family: HeaderFont,sans-serif;
    font-weight: 680;
    color: #4f3170;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;

  
}


.NavMenu a {
    color: #794749;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border: solid 2px;
    background-color: rgb(161, 158, 158);
    font-size: 20px;
    
    
}

.NavMenu {
    margin-top: 10px;
    display:flex;
    justify-content: center;
}

.images img {

    height: 250px;
    width: 300px;
    border-radius: 2%;

}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.images img:hover {
    padding: 15px;

}

#maintext {
    font-family:FontforP,sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.tablediv {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

table  {

    border-radius: 3%;
    border: solid 1px rgb(27, 34, 38);
    height: 50px;
    width: 500px;
    
}
 
table tr th {

    background-color: white;

 
}

table tr:hover{
    color:#627947;
    background-color:#30504f;
}

.footernav {

    display: flex;
    justify-content:flex-start;
    margin-top: 60px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

button {
    padding: 15px;
    border-radius: 4%;
    background-color: #30504f;
    color: antiquewhite;
    border: none;
}

input:hover {
    background-color: #31eee8;
    border: dotted 2px black;
}

input:active {
    padding: 10px;
}

button:hover{

    background-color: #4f3170;
    
}

button:focus{
    border: solid 3px black;
}
 
